@use './foundation/colors';
@use './foundation/fonts';
@forward "./components/header";

html {
  font-family: fonts.$primary-font;
}

p {
  font-family: fonts.$primary-font;
  color: colors.$black;
}
